body{
    background-color:#F5F5F5
    height:100%;
    position:relative

}
a{
    text-decoration:none
}
nav{
    background:black;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
main{
    padding:60px;
    min-height:900px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;

}
span{
    display:flex;
    flex-direction:row;
}
span img{
    height:60px
}
#word{
    display:none
}
#tabW{
    display:none
}
#pendu{
    font-size:80px
}
#keyboard{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    background:lightgray;
    padding:12px;
    width:400px;
    min-height:100px;
    border: 2px solid dimgray;
    border-radius:40px;
    box-shadow: 10px 5px 5px grey;

}
.btn{
    margin: 7px
}

#level{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center
}
#nextW{
    display:none
}
#level img{
    width:60px;
    height:80px;
    object-fit: contain;
}
#winner{
    display:none
}
footer{
    width:100%;

    padding-top:50px;

    height:50px;
    background:black;
    position:absolute;
    bottom:0;
}
