{% extends 'python_pendu/index.html' %}

{% block content %}
Block content:<br>
    <h1> Page de jeu </h1>
<p> Mot mystère : </p>
<p> Nombre de mots au dictionnaire: {{len}}</p>
<p>Solution: {{mot_mystere}} / Index: {{index}} </p>
object: res_mot_mystere:{{res_mot_mystere}}<br>
request.GET: {{request.GET}}<br>
copy_mot: {{copy_mot}}<br>

mot_Amanda: {{mot_Amanda}}
for n in lista_teste:<br>

{% for n in lista_teste %}

{{n}} <br>

{%endfor%}

</p>
    <a href="{% url 'home'%}">Accueil</a>
{% endblock %}