{% extends 'python_pendu/index.html' %}

{% block content %}

<article>
        <h1> Page de jeu </h1>
        <!-- Variables -->
        mot_mystere:{{mot_mystere}}/index:{{index}}/level:{{level}}<br>
        <br>
        <div id="content_word">
            <!-- lettres de la mot mystère sans doublés -->
            <p id="tab1">tab:{{tab}}</p>
            <!-- lettres du clavier sans doublés ni dans le mot mystère -->
            <p id="key1">key:{{key}}</p>
            <p id="pendu">

            </p>
            <!-- mot mystère cachée -->
            <p id="word">{{mot_mystere}}</p>
        </div>
        <div id="keyboard">

        </div>
    </article>
    <aside>

        <p>
            ieieieieeieieieieiieieieieieieieieieiieieieieieieieiieieieieie
        </p>
        <p id="err">

        </p>
        <p id="timer">
            0:00
        </p>
    </aside>

<a href="{% url 'home'%}">Accueil</a>
{% endblock %}