
{% extends 'python_pendu/index.html' %}
{% load static %}
{% block content %}
    <section id="level">
        <h2>Choisissez votre Niveau</h2>
        <img src="{% static 'python_pendu/img/coul2.jpg' %}"/>
        <a href="{% url 'game' 1 %}"><button type="button" class="easy btn btn-primary">Niveau Couleuvre (Facile)</button></a>
        <img src="{% static 'python_pendu/img/python.jpg' %}"/>
         <a href="{% url 'game' 2 %}"><button type="button" class="medium btn btn-secondary">Niveau Python (Moyen) </button></a>
        <img src="{% static 'python_pendu/img/cobra.jpg' %}"/>
         <a href="{% url 'game' 3 %}"><button type="button" class="hard btn btn-success">Niveau Cobra (Difficile)</button></a>
        <!--<button type="button" class="btn btn-danger">Niveau Anaconda</button>-->

    </section>
    <section id="winner">
        <h1>WEEEEEE AAAAREEEE THE CHAMPIONNS</h1>
        <p id="champ">

        </p>
        <img src="{% static 'python_pendu/img/winner.jpg' %}">




    </section>



{% endblock %}